extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/logo.svg', width='160')
		h1 Welcome to Piksel Church List

	.col-lg-6.col-lg-offset-3
		a.btn.btn-xl.btn-primary(href='http://localhost:3000/church') Church List
